body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.homepage {
    margin: 0;
    padding: 0;
    background-image: url('C:/Users/User/Desktop/Animal/pet-expo/src/images/picture3.avif');
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center top;
    font-family: Arial, sans-serif;
    overflow-x: hidden;
    background-color: #e7e4ea;
    min-height: 100vh;
}

.homepage h1 {
    color: #52c6ce;
    font-weight: bold;
    text-align: center;
    font-size: 52px;
    margin-top: 1vh;
    z-index: 1;
    position: relative;
}



.cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 40px 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.card {
    background-color: #52c6ce;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: left;
    transition: transform 0.3s ease;
}

.card:hover {
    transform: translateY(-30px);
}

.card h2 {
    color: white;
    margin-top: 0;
}

.card p {
    color: white;
    margin-bottom: 0;
}
